images/
gifs/
*.DS_Store
*.ipynb_checkpoints
*.idea

#Tex
*.out
*.log
*.aux
*.bbl
*.blg
*.synctex.gz
*.gz(busy)
*.toc
*.nav
*.snm
*eps-converted-to.pdf
*.png
*.jpg
*.jpeg

#additions by PMokrov
*__pycache__*
